html {
    scroll-behavior: smooth;
  }
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"!important;
    font-weight: normal;
    font-style: normal;
    color: #8a8fa3;
}
p {
    font-size: 18px!important;
    font-weight: 400;
    line-height: 28px;
    color: #4f5365!important;
    margin: 0px;
}

.about-title{
	
	padding-top:50px;
	
}
.about-section-title{
	
	text-align:left!important;
	
}
.header-content-right .title {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-height: 84px;
    z-index: 1030;
}
.header-content-center{   
    padding-bottom: 15px;
    text-align: center;
}
.header-content-center .title{
    font-size: 30px;
    color: #754ef9;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-align: center;
}
/*resuable align center class*/
.align-center {
    text-align: center;
}

/*-- Work sections colors*/
.work-main-title{
    padding-bottom: 25px;
    text-align: center;
}
.work-section-title{
    font-size: 35px;
    margin: 0 0 57px;
}
.work-section-description{
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 79px;
}
.work-section-button-dark{
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;    
    display: inline-block;
    border: 1px solid #121113;
    color: #fff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
    box-shadow: 0px 5px 8px 0px #464c526e;
    background-color: #121113;
    text-transform: none;
}

.work-section-button-dark:hover{
    background-color: #fff;
    color: #121113;
    border-color: #121113;
}
.work-image{
 padding: 0 10px;

}

.work-project-1 {
    
    background-color: rgb(238, 242, 248);
   
}
.work-project-2 {
    
    background-color: rgb(255, 220, 114);
  
}
.work-project-3 {
    
    background-color: rgb(173, 235, 208);
   
}
.work-project-4 {
    
    background-color: rgb(232, 232, 232);
  
}
.text-italic {

    font-style: italic;
}

/*-------Indiviual project page--------------*/
.project-header{   
    background-color: #fff;
    margin: 100px 0 0 0;
    padding: 30px 0;
    
}
.capital-title{
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
    color:#754ef9;
    font-weight: 600;
}

.project-header-full-image{
    background-color: #fff;
    height:600px;

}
.project-header-full-image img{
    width:100%;
    height:100%;
    max-height: 611px;
}
.project-title{
    padding-bottom:10px;

}
.project-sub-title {
    color: var(--indigo)!important;
    padding-bottom:15px;
}
.project-role-duration h3 {
    font-size: 20px;
    padding-bottom: 5px;
}

.challenge-goals{
    background-color: rgb(238, 242, 248);
    padding: 50px 0;

}
.challenge-goals, .design-process-alternative-2 ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.unordered-list-1 {
    padding-left: 18px;
}

.challenge-goals, .list-text {
    color: #333;
    font-size: 16px;
    line-height: 30px;
    list-style-type: decimal;
   
}
.project-design-process{
    background-color: rgb(244, 245, 248);
    padding:30px 0;

}
.design-process-alternative-1{
    background-color: rgb(255, 220, 114);
}
.design-process-alternative-2{
    background-color: rgb(173, 235, 208);
}
.design-process-alternative-2 .unordered-list-1 {
    padding-left: 60px;
}
.design-process-title{
    font-size: 35px;
    margin: 0 0 10px;
}
.design-process-texts{
    padding: 0 50px;    
    line-height: 30px;
    margin: 0 10px 10px 10px;


}

/*side nav fixed*/
.side-nav-fixed{
    position: fixed;
    top:30%;
    right:0%;
    padding:0 10px 0 0;
    color:#000;
    z-index: 11;
    transition: all 0.2s;
}
.class-display-none{
    display:none!important;
}
.side-nav-fixed li{

   padding: 20px 20px;
   border: 1px solid rgba(118, 78, 249, 0.90);
   font-weight: 600;
   
   background-color: rgba(217, 214, 228, 0.55);

}
